.popup__submit-button_type_auth {
    color: #000000;
    background-color: #FFFFFF;
    margin-top: 188px;
}

.popup__submit-button_type_auth:hover {
    background: #FFFFFF;
    opacity: 0.8;
    cursor: pointer;
  }